:root {
    // GENERAL COLORS
    --main-dark: hsl(48, 20%, 20%);
    --main-color: hsl(48, 59%, 20%);
    --main-light: hsl(48, 10%, 50%);
    --main-gray: #403e39;
    --white: #fff;
    --black: #000;
}


