:root {
    // GENERAL COLORS
    --brand-color: #EDE2AB;
    --brand-inactive: #A19974;
    --brand-gray: #1A1A1A;
    --white: #fff;

    // TABLE COLORS
    --tbody-bgc: #333333;
    --thead-bgc: #262626;
    --row-highlight: #807a5c;
    --table-lines: #7c7c7c;
}


