@use "color";

// @font-face {
//     font-family: 'Sulphure Point';
//     src: url('../fonts/Sulphur_Point/SulphurPoint-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Sulphure Point';
//     src: url('../fonts/Sulphur_Point/SulphurPoint-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

:root {
    font-size: calc(8px + 3vw);

    --banner-main-letter-spacing: 18%;
    --banner-sub-letter-spacing: 28%;
    --banner-small-letter-spacing: 7%;

    --article-heading-letter-spacing: 16%;
    --article-body-letter-spacing: 1%;
    
    --menu-heading-letter-spacing: 16%;
    --menu-body-letter-spacing: 20%;

    --cta-button-letter-spacing: 50%;
    --contact-info-letter-spacing: 7%;
}

body {
    font-family: 'Alegreya Sans';
}

ul {
    padding-inline-start: 1rem;
}

header {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.highlight {
    color: var(--main-color);
}

.banner {
    text-align: center;
    text-transform: uppercase;
}

.banner-main {
    font-size: 1.77rem;
    letter-spacing: var(--banner-main-letter-spacing);
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-block-end: 1rem;
    p {
        margin: 0;
    }

    > p + p {
        margin-block-start: 1rem;
    }
}

.banner-sub {
    font-size: 1rem;
    letter-spacing: var(--banner-sub-letter-spacing);
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 3rem;
}

.banner-small {
    margin-block-start: 0;
    margin-block-end: 3rem;
    font-family: "alegreya sans sc";
    text-transform: lowercase;
    font-size: 1rem;
    letter-spacing: var(--banner-small-letter-spacing);
    line-height: 1;
    p {
        margin: 0;
    }
}

.article-heading {
    margin: 0;
    padding: 0;
    font-size: 1.77rem;
    letter-spacing: var(--article-heading-letter-spacing);
    line-height: 1.6875;
    text-align: center;
    text-transform: uppercase;
}

.article-body {
    font-size: 0.88rem;
    letter-spacing: var(--article-body-letter-spacing);
    line-height: 1.4;
    text-align: justify;
    font-weight: 400;
}

.menu-heading {
    font-size: 1.77rem;
    letter-spacing: var(--menu-heading-letter-spacing);
    line-height: 1.6875;
    text-align: center;
}

.menu-body {
    font-size: 1rem;
    letter-spacing: var(--menu-body-letter-spacing);
    line-height: 1;
}

.email-card {
    letter-spacing: var(--contact-info-letter-spacing);
}
