@use "color";

// @font-face {
//     font-family: 'Sulphure Point';
//     src: url('../fonts/Sulphur_Point/SulphurPoint-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Sulphure Point';
//     src: url('../fonts/Sulphur_Point/SulphurPoint-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
//     font-weight: 700;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Alegreya Sans';
//     src: url('../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

:root {
    font-size: calc(8px + 3vw);

    --banner-main-letter-spacing: calc(2vw - 0.23rem);
    --banner-sub-letter-spacing: calc(2.1vw - 0.04em);
    --banner-small-letter-spacing: 0.07em;

    --article-heading-letter-spacing: 0.28em;
    --article-body-letter-spacing: 0.01em;
    --banner-section-heading-letter-spacing: 0.28em;

    --menu-heading-letter-spacing: 0.16em;
    --menu-body-letter-spacing: 0.20em;

    --cta-button-letter-spacing: 0.50em;
    --contact-info-letter-spacing: 0.07em;

    --alert-message-letter-spacing: 0.28em;
}

body {
    font-family: 'Alegreya Sans';
}

ul {
    padding-inline-start: 1rem;
}

header {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.highlight {
    color: var(--main-color);
}

.banner {
    text-align: center;
    text-transform: uppercase;

    h3 {
        text-transform: initial;
        font-family: 'alegreya sans sc';
        font-weight: 400;
        letter-spacing: var(--banner-section-heading-letter-spacing);
    }

    p {
        text-transform: initial;
        letter-spacing: var(--article-body-letter-spacing);
        font-weight: 300;
        text-align: justify;
        font-size: 0.88rem;
        line-height: 1.4;
    }
}

.banner-main {
    font-family: audiowide;
    letter-spacing: var(--banner-main-letter-spacing);
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-block-end: 1rem;

    background-image: url("./src/images/galaxia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;

    margin-inline: -1rem;

    h1 {
        background-image: inherit;
        background-size: inherit;
        background-repeat: inherit;
        background-clip: inherit;
        color: inherit;

        margin-inline: 1rem;
        margin-block-start: 0;
        line-height: 1.4;
        font-size: calc(-0.08em + 10vw);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #word-de {
        margin-inline-start: auto;
    }

    #word-y {
        margin-inline-end: auto;
    }

    p {
        margin: 0;
    }

    > p + p {
        margin-block-start: 1rem;
    }

    .small {
        background-image: inherit;
        background-size: inherit;
        background-repeat: inherit;
        background-clip: inherit;
        color: inherit;

        font-size: 0.5em;
        align-self: flex-end;
        transform: translateY(-0.4rem);
    }
}

.banner-sub {
    display: flex;
    justify-content: space-between;

    font-size: 1rem;
    letter-spacing: var(--banner-sub-letter-spacing);
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 3rem;
    margin-inline: auto;

    :first-child {
        padding-inline-start: 0.2rem;
    }
}

.banner-small {
    margin-block-end: 2rem;

    p {
        // margin: 0;
        margin-block-start: 1rem;
        font-family: "alegreya sans sc";
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: var(--banner-small-letter-spacing);
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
    }
}

.article-heading {
    margin: 0;
    padding: 0;
    font-family: "alegreya sans sc";
    font-size: 1.4rem;
    letter-spacing: var(--article-heading-letter-spacing);
    line-height: 1.6875;
    text-align: center;
    font-weight: 500;
}

.article-body {
    font-size: 0.88rem;
    letter-spacing: var(--article-body-letter-spacing);
    line-height: 1.4;
    text-align: justify;
    font-weight: 400;
}

.menu-heading {
    font-size: 1.77rem;
    letter-spacing: var(--menu-heading-letter-spacing);
    line-height: 1.6875;
    text-align: center;
}

.menu-body {
    font-size: 1rem;
    letter-spacing: var(--menu-body-letter-spacing);
    line-height: 1;
}

.info-card {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: var(--contact-info-letter-spacing);
}

.email-card {
    letter-spacing: var(--contact-info-letter-spacing);
}

.alert-container {
    .alert-message {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: var(--alert-message-letter-spacing);
    }
}