:root {
    // MAIN WORKING AREA
    --max-width: 1400px;

    // MARGIN BETWEEN HORIZONTAL MENU ELEMENTS
    --menu-spacing: 2.5rem;

    // FORM ELEMENT RELATED LENGTHS - NOT IN USE
    --label-height: 11px;
    --inside-gap: 11px;
    --content-height: auto;
    --id-height: 28px;
    --id-gap: 51px;
    --element-gap: 40px;

}