@use "color";
@use "lengths";

ul.menu {
    margin: 0;
    padding: 1rem;
    background-color: var(--white);
    list-style: none;
}

.menu-option {
    position: relative;
    
    .icon {
        position: absolute;
        inset-block-start: 1.04rem;
        width: 0.9rem;
    }

    button {
        width: 100%;
        text-align: left;
        font-weight: 400;

        padding-inline-start: 1.8rem;

        letter-spacing: var(--menu-body-letter-spacing);
        font-size: 1rem;
        line-height: 3;

        &.is-active {
            font-weight: bold;
        }
    }

}