@use "color";

table {
    display: table;
    width: 100%;
    border-collapse: collapse;

    text-align: left;
    text-indent: 20px;
    text-transform: uppercase;

    font-size: 0.875rem;
}

th,
td {
    height: 40px;
}

thead {
    background-color: var(--thead-bgc);

    font-weight: bold;
    letter-spacing: var(--normal-letter-spacing);

    position: sticky;
    top: 0;
    z-index: 20;    
}

tbody {
    background-color: var(--tbody-bgc);
    color: var(--white);

    letter-spacing: var(--tbody-letter-spacing);
    font-weight: 300;

    tr {
        border-block-start: 1px solid var(--table-lines);
    }

    tr:hover {
        box-shadow:
            inset 1px 1px 0 1px var(--row-highlight),
            inset -1px -1px 0 1px var(--row-highlight);
    }

    td:first-child {
        border-inline-start: none;
    }

    td:last-child {
        border-inline-end: none;
    }
}

.col-1 {
    width: 5%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 11%;
}

.col-4 {
    width: 35%;
}

.col-5 {
    width: 9%;
}

.col-6 {
    width: 14%;
}

.col-7 {
    width: 6%;
}

.list-number {
    font-size: 1.1rem;
}

.view-arrow {
    position: relative;
    text-indent: 5rem;
    overflow: hidden;
    width: 2rem;
    height: 2.5rem;

    &::after {
        cursor: pointer;
        color: var(--white);
        text-indent: 0;
        font-size: 2rem;
        font-weight: 100;
        display: block;
        content: '\2192';
        position: absolute;
        top: 1px;
    }
}

.row {
    &.is-active {
        background-color: var(--row-highlight);
    }
}